<div class='home-banner text-center'>
  <h1> Welcome to Mr. Cocktail!</h1>
</div>

<div class="cocktail-container">
  <div class="header">
    <h3>Cocktail Listing</h3>
  </div>

  <div class='grid'>
    <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      <%=link_to cocktail.name, cocktail_path(cocktail), class: "card-content"%>
<!--         <%=link_to "Delete", cocktail_path(cocktail), method: :delete %> -->
    </div>
    <% end %>
  </div>
</div>
