<div class='home-banner text-center'>
  <h1> Welcome to Mr. Cocktail!</h1>
</div>

<div class="cocktail-body">
  <div class="cocktail-header">
    <h3>Cocktail Listing</h3>
  </div>

  <div class='cocktail-container'>
    <% @cocktails.each do |cocktail| %>
    <div class="card card-size">
      <%= image_tag "cocktails.jpg", class: 'card-img-top' %>
      <div class="card-body">
        <%=link_to cocktail.name, cocktail_path(cocktail), class: 'card-text' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
