// cocktails
.cocktail-container {
  width: 80vw;
  margin: 40px auto;
}

.cocktail-container .header {
  margin-bottom: 20px;
  text-align: center;
}

.cocktail-container .grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  width: 80vw;
  margin: 0 auto;
  justify-items: center;
}

// cocktail responsive
@media (max-width: 1200px) {
  .cocktail-container .grid {
    grid-template-columns: auto auto auto ;
  }
}

@media (max-width: 960px) {
  .cocktail-container .grid  {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 720px) {
  .cocktail-container .grid  {
    grid-template-columns: auto;
  }
}

// ingredients
.ingredient-container {
  width: 7
}
