// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// CSS style
.body {
  width: 100vh;
}

// cocktails
.cocktail-body {
  width: 80vw;
  margin: 40px auto;
}

.cocktail-header {
  margin-bottom: 20px;
  text-align: center;
}

.cocktail-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  width: 80vw;
  margin: 0 auto;
  justify-items: center;
}

// cocktail responsive
@media (max-width: 1200px) {
  .cocktail-container {
    grid-template-columns: auto auto auto ;
  }
  // .card-big {
  //   width: 30rem;
  // }
}

@media (max-width: 960px) {
  .cocktail-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 720px) {
  .cocktail-container {
    grid-template-columns: auto;
  }
}
